//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import DITranquillity

final class {{ module_info.name }}Part: DIPart {
    static func load(container: DIContainer) {
        container.register({{ module_info.name }}Router.init(view:errorHandler:))
            .lifetime(.objectGraph)

        container.register({{ module_info.name }}Presenter.init(view:router:))
            .as({{ module_info.name }}EventHandler.self)
            .lifetime(.objectGraph)

        container.register {
                {{ module_info.name }}ViewController()
            }
            .as({{ module_info.name }}ViewBehavior.self)
            .injection(cycle: true, { $0.handler = $1 })
            .lifetime(.weakSingle)
    }
}

final class {{ module_info.name }}Assembly {
    class func createModule() -> {{ module_info.name }}ViewController {
        return MainAppCoordinator.shared.container.resolve()
    }
}