//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - Contracts
protocol {{ module_info.name }}ViewBehavior: class {

}

protocol {{ module_info.name }}EventHandler: class {

}