//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - Presenter
final class {{ module_info.name }}Presenter {

    weak var view: {{ module_info.name }}ViewBehavior!
    var router: {{ module_info.name }}Router!

    init(view: {{ module_info.name }}ViewBehavior, router: {{ module_info.name }}Router) {
        self.view = view
        self.router = router
    }
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}EventHandler {

}